body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-1 {
  flex: 1;
}

#main-content > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#dropdown-basic:after {
  content: none;
}

a {
  text-decoration: none;
  color: black;
}

.no-background .modal-content {
  background: transparent;
  border: 0;
}

.carousel .thumbs {
  margin: 0;
}

.carousel .thumb {
  height: 70px;
  border: 3px solid transparent;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border-color: white;
}
.arrow-black .carousel .control-next.control-arrow:before, .arrow-black .carousel .control-prev.control-arrow:before {
  border-left-color: black;
  border-right-color: black;
}

.nav-link {
  color: black;
}

.border-none .modal-header {
  margin-bottom: 0.5rem;
}

.mb-3.nav.nav-tabs {
  justify-content: center;
}

.carousel .slide .legend {
  bottom: auto;
  top: 40px;
  background: white;
  color: black;
  text-transform: uppercase;
}

.carousel .carousel-status {
  top: auto;
  bottom: 0;
  font-size: 0.9rem;
}

.bg-black-transparant .modal-content {
  background-color: #00000091;
  border: 0;
}

.no-padding > div > div > .modal-body {
  padding: 0;
}

.full-video .modal-body > div,
.full-video .modal-body > div > div {
  height: 100%;
  position: absolute;
  width: 100%;
}

.close-absolute .modal-header {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 9999999;
  color: white;
  border: 0;
  width: 100%;
  padding: 0;
}

.close-absolute .modal-header .btn-close {
  color: white;
  fill: red;
  background-color: white;
  opacity: 1;
  border-radius: 100%;
}

.btn-close:hover {
  -webkit-animation: spin 0.3s linear;
  -moz-animation: spin 0.3s linear;
  animation: spin 0.3s linear;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pointer-event {
  cursor: pointer;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box h1 {
  position: relative;
  display: inline-block;
  padding: 20px 40px;
  letter-spacing: 20px;
  text-transform: uppercase;
  font-size: 8vw;
  color: #000;
  background: #fff;
  mix-blend-mode: difference;
}
.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 100%;
  background: #fff;
  animation: animate 5s infinite linear;
}

@keyframes animate {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 130px);
  }
  100% {
    left: 0;
  }
}

.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
  box-shadow: 0 0 0 !important;
}
